

.nav-bar{
    background-color: darkgreen !important;
    color: forestgreen;
}


.collapse {
    margin-left: -15px;
    margin-right: -15px;
    padding: 15px;
    background-color: darkgreen;
}


.hover-underline{
    border-bottom: solid 5px darkgreen;
    color: white !important;
}


:hover.hover-underline{
    border-bottom: solid 5px white;
}

.authentication-buttons{
    font-weight: bold;
    border-radius: 5px !important;
    background-color: initial !important;
    border: white solid 2px !important;
}

:hover.authentication-buttons {
    font-weight: bold;
    border-radius: 5px !important;
    background-color: white !important;
    color: forestgreen;
    border: white solid 2px !important;
}



